body {
    background-color: rgb(144, 156, 194);
    text-align: center;
}

header h1 {

    font-size: 5rem;
}

.first-name:hover {
    color: rgb(121, 92, 145);
}

.second-name:hover {
    color: rgb(121, 92, 145);
}

.my-pic {
    height: 30rem;
    width: 30rem;
    border-radius: 3rem 3rem 3rem 3rem;
}